{% extends "store/base.html" %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome!</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br>
                    <p align="justify">
                        Lorem ipsum odor amet, consectetuer adipiscing elit. Volutpat aenean metus sapien dignissim nec habitasse. Magnis sociosqu laoreet, venenatis vel aliquet himenaeos. Tortor maecenas habitant pulvinar; sociosqu nisl sapien phasellus aliquam ultricies. Natoque montes suspendisse laoreet aliquam tellus justo quisque? Imperdiet finibus porta blandit nisi; volutpat dis. Fames viverra penatibus accumsan congue cras hendrerit nulla. Mi elit tristique ultrices mi volutpat semper pulvinar ac euismod.<br>

                        Enim praesent magnis senectus velit lacinia ipsum tortor. Maecenas phasellus et mollis malesuada praesent feugiat maecenas. Viverra morbi suspendisse; non magna egestas euismod id montes quisque. Tortor enim est lacinia gravida quam efficitur. Penatibus consectetur habitasse nisi sed adipiscing amet. Tincidunt pulvinar condimentum porta aliquam torquent ac. Eros dolor vehicula aenean volutpat vehicula amet magna sagittis. Ac elit orci volutpat mauris et habitasse facilisi litora. Nascetur est justo augue vulputate duis euismod laoreet.<br>

                        Fermentum urna montes fusce cras fermentum eu lacus diam. Purus amet eget vitae nisl odio posuere dignissim mi. Augue nullam nisl sem lacus cursus dignissim. Mus nascetur facilisis sed orci id sodales. Suscipit nam phasellus taciti augue laoreet praesent sed egestas. Mollis himenaeos eleifend faucibus porttitor purus blandit. Blandit molestie tortor porttitor fringilla velit nisi vitae maximus. Porttitor pellentesque varius magna efficitur nunc nisl nisi pellentesque. Diam suspendisse sapien, scelerisque class justo dapibus.
                    </p>
                    <br>
                </div>
            </center>
        </div>
    </div>
{% endblock  %}

